H1{ 
   color:lightpink;
   font-family: monospace;
   text-decoration: underline;
                               }
h2{color:lightpink;
  font-family: monospace;
                         }
.grapes{
  color:lightblue;
}
body{
  background-color: azure;
  
}
